{
      "DownloadableAcl": {
                           "name": "{{ name }}",
                           "description": "{{ description }}",
                           "dacl": "{{ dacl }}",
                           "daclType": "{{ daclType }}"
                          }
     }
