{
    "AuthorizationProfile": {
        "name": "{{ name }}",
        "description": "{{ description }}",
        "accessType": "ACCESS_ACCEPT",
        "authzProfileType": "{{ authzProfileType }}",
        "webRedirection": {
            "WebRedirectionType": "{{ WebRedirectionType }}",
            "acl": "{{ acl }}",
            "portalName": "{{ portalName }}",
            "displayCertificatesRenewalMessages": {{ displayCertificatesRenewalMessages }}
        },
        "trackMovement": {{ trackMovement }},
        "serviceTemplate": {{ serviceTemplate }},
        "easywiredSessionCandidate": {{ easywiredSessionCandidate }},
        "daclName": "{{ daclName }}",
        "voiceDomainPermission": {{ voiceDomainPermission }},
        "neat": {{ neat }},
        "webAuth": {{ webAuth }},
        "profileName": "{{ profileName }}"
    }
}
